[submodule "commonInterfaces"]
	path = commonInterfaces
	url = git@github.com:Darokahn/commonInterfaces
[submodule "jsonParser"]
	path = jsonParser
	url = git@github.com:Darokahn/jsonParser
[submodule "network"]
	path = network
	url = git@github.com:Darokahn/network
[submodule "reentrancy"]
	path = reentrancy
	url = git@github.com:Darokahn/reentrancy
[submodule "table"]
	path = table
	url = git@github.com:Darokahn/table
[submodule "scheduler"]
	path = scheduler
	url = git@github.com:Darokahn/scheduler.git
